// mixins
@mixin panel-background(
    $background-color,
    $foreground-color,
    $shadow: var(--shadow-elevation-1),
    $top: false
) {
    position: relative;
    background: $background-color;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: $foreground-color;
        box-shadow: $shadow;
        border: 1px solid rgba(63, 67, 80, 0.08);
        z-index: 0;

        @if $top == true {
            border-radius: var(--panel-corner-radius) var(--panel-corner-radius) 0 0;
        } @else {
            right: calc(0px - var(--panel-corner-radius));
            border-radius: var(--panel-corner-radius) 0 0 var(--panel-corner-radius);
        }
    }
}

@mixin flex-row {
    display: flex;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-fixed {
    flex: 0 0 auto;
}

@mixin flex-dynamic {
    flex: 1 1 auto;
}

@mixin flex-layout($justify: center, $align: center) {
    justify-content: $justify;
    align-items: $align;
}

@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin min-size($width: auto, $height: auto) {
    min-width: $width;
    min-height: $height;
}

@mixin collapsed {
    visibility: hidden;

    &.open {
        visibility: visible;
    }
}

@mixin position($x: 0, $y: 0, $type: relative, $fromRight: false) {
    position: $type;
    top: $y;

    @if $fromRight {
        right: $x;
    } @else {
        left: $x;
    }
}

@mixin media-width($min, $max: null) {
    @if $min and $max {
        @media screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max {
        @media screen and (max-width: $max) {
            @content;
        }
    } @else {
        @media screen and (min-width: $min) {
            @content;
        }
    }
}
