mixin label(props, extraClasses)
    -
        var labelClasses = {
            "Label___small": props.size === "small",
            "Label___standard": props.size === "standard",
            "Label___large": props.size === "large",
            "Label___wrap": props.wrap === true
        }
    |
    |
    span.Label(class=[labelClasses, extraClasses] title=(props.title ? props.text : false))= props.text
