mixin MenuHeader(props = {}, extraClasses)
    -
    li.MenuHeader(id=props.id)
        div.MenuHeaderWrapper
            if props.enableBackButton
                +iconButton({size: 'small', iconGlyph: 'icon-arrow-back-ios'}, 'MenuHeader__backButton')
            +heading({text: props.text || 'More Actions', size: 'large'})
            if props.enableBackButton
                +iconButton({size: 'small'}, 'MenuHeader__placeholder')
