mixin menuHeader(title, extraClasses)
    header.MenuHeader(class=[extraClasses])
        +iconButton({
            size: "small",
            iconGlyph: "icon-chevron-left"
        }, "MenuHeader_backButton")
        +label({text: title}, "MenuHeader_title")
        +iconButton({
            size: "small",
            iconGlyph: "icon-close"
        }, "MenuHeader_closeButton")
