mixin MenuItem(props, extraClasses)
    -
        var classes = {}
    |
    |
    li.MenuItem(id=props.id data-target-panel=props.targetPanelID class=[buttonClasses, extraClasses] data-destructive=(props.destructive || false))
        button.MenuItemWrapper(type="button" role='menuitem')
            if props.glyph
                +icon({glyph: props.glyph, size: 16}, 'MenuItem__Icon')
            +label({text: props.text ? props.text : 'Menu Item', size: 'small'})
            if props.actionGlyph
                +icon({glyph: props.actionGlyph, size: 16}, 'MenuItem__ActionIcon')
                