mixin menuItem(props, extraClasses)
        -
            var menuItemClasses = [
                extraClasses,
                {
                    "Menu_itemBottomDivider": props.sectionEnd
                }
            ]
        li.MenuItem(class=menuItemClasses data-has-submenu=props.rightIcon ? true : false)
            +button({
                label: props.label,
                leftIconGlyph: props.leftIcon,
                fullWidth: true,
                rightIconGlyph: props.rightIcon
            }, "MenuItem_button")
