#MenuContainer {
    .MenuHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
        height: 48px;
        width: 100%;
        margin-bottom: 8px;
        border-bottom: solid 1px rgba(black, 0.16);
    }
    .MenuHeader_title {
        flex-grow: 1;
        font-size: 14/10*1rem;
        font-weight: 600;
        color: color(--center-channel-color-rgb);
        text-align: center;
    }
}