doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Media Queries
        link(rel="stylesheet" type="text/css" href="/build/css/media-queries/main.css")
    body(class=["poc-menu", "enable-animations"])
        div(class=["container"])
            div(class=["indicator", "size"])
            div(class=["indicator", "orientation"])
            div(class=["indicator", "hover"])
            div(class=["indicator", "pointer"])