mixin button(props = {}, extraClasses)
    -
        var buttonClasses = {
            "Button__primary": props.style === 'primary' || !props.style,
            "Button__secondary": props.style === 'secondary',
            "Button__tertiary": props.style === 'tertiary',
            "Button__link": props.style === 'link',
            "Button__xsmall": props.size === 'xsmall',
            "Button__small": props.size === 'small',
            "Button__medium": props.size === 'medium' || !props.size,
            "Button__large": props.size === 'large',
            "Button__fullWidth": props.fullWidth === true
        }
        var labelClasses = {
            "Button_label": true
        }
        var labelSize = props.size || 'medium';
        var iconClasses = {
            "Button_icon": true
        }
        var iconSize = 12;
        switch (props.size) {
            case "xsmall":
                iconSize = 12;
                break;
            case "small":
                iconSize = 12;
                break;
            case "medium":
                iconSize = 16;
                break;
            case "large":
                iconSize = 20;
                break;
        }
        var ariaLabel = props.label ? props.label.toLowerCase() : false;
    if props.link === true
        a.Button(href="#" class=[buttonClasses, extraClasses] destructive=(props.destructive || false) inverted=(props.inverted || false) disabled=(props.disabled || false) tabindex=(props.disabled ? -1 : false) aria-label=ariaLabel)
            if props.leftIconGlyph
                +icon({glyph: props.leftIconGlyph, size: iconSize}, iconClasses)
            +label({text: props.label, size: labelSize}, labelClasses)
            if props.rightIconGlyph
                +icon({glyph: props.rightIconGlyph, size: iconSize}, iconClasses)
    else
        button.Button(type="button" class=[buttonClasses, extraClasses] destructive=(props.destructive || false) inverted=(props.inverted || false) disabled=(props.disabled || false) tabindex=(props.disabled ? -1 : false) aria-label=ariaLabel)
            if props.leftIconGlyph
                +icon({glyph: props.leftIconGlyph, size: iconSize}, iconClasses)
            +label({text: props.label, size: labelSize}, labelClasses)
            if props.rightIconGlyph
                +icon({glyph: props.rightIconGlyph, size: iconSize}, iconClasses)
