mixin button(props = {}, extraClasses)
    -
        var buttonClasses = {
            "Button___primary": props.style === 'primary',
            "Button___secondary": props.style === 'secondary',
            "Button___tertiary": props.style === 'tertiary',
            "Button___small": props.size === 'small',
            "Button___standard": props.size !== 'small' && props.size !== 'large',
            "Button___large": props.size === 'large',
            "Button___fullWidth": props.fullWidth === true
        }
        var labelClasses = {
            "Button_label": true
        }
        var labelSize = props.size === 'small' ? 'small' : props.size === 'large' ? 'large' : 'standard';
        var iconClasses = {
            "Button_icon": true
        }
        var iconSize = props.size !== 'small' && props.size !== 'large' ? 'small' : props.size === 'small' ? 'xsmall' : 'standard';
        var ariaLabel = props.label ? props.label.toLowerCase() : false;
    if props.link === true
        a.Button(href="#" class=[buttonClasses, extraClasses] disabled=(props.disabled || false) tabindex=(props.disabled ? -1 : false) aria-label=ariaLabel)
            if props.leftIconGlyph
                +icon({glyph: props.leftIconGlyph, size: iconSize}, iconClasses)
            +label({text: props.label, size: labelSize}, labelClasses)
            if props.rightIconGlyph
                +icon({glyph: props.rightIconGlyph, size: iconSize}, iconClasses)
    else
        button.Button(class=[buttonClasses, extraClasses] disabled=(props.disabled || false) tabindex=(props.disabled ? -1 : false) aria-label=ariaLabel)
            if props.leftIconGlyph
                +icon({glyph: props.leftIconGlyph, size: iconSize}, iconClasses)
            +label({text: props.label, size: labelSize}, labelClasses)
            if props.rightIconGlyph
                +icon({glyph: props.rightIconGlyph, size: iconSize}, iconClasses)
