mixin icon(props, extraClasses)
    -
        var iconClasses = {
        }
        var ariaLabel = props.label ? props.label.toLowerCase() : false;
    |
    |
    i.Icon.icon(class=[iconClasses, props.glyph, extraClasses], size=props.size, aria-label=ariaLabel)
