mixin iconButton(props = {}, extraClasses)
    -
        var iconButtonClasses = {
            "IconButton___compact": props.size === 'compact',
            "IconButton___small": props.size === 'small',
            "IconButton___standard": props.size === 'standard' || !props.size,
            "IconButton___large": props.size === 'large',
            "inverted": props.inverted === true
        }
        var iconClasses = {
            "Icon___small": props.size === 'compact' || props.size === 'small',
            "Icon___standard": props.size === 'standard' || !props.size,
            "Icon___large": props.size === 'large',
            "IconButton_icon": true
        }
        var ariaLabel = props.label ? props.label.toLowerCase() : false;
    button.IconButton(class=[iconButtonClasses, extraClasses] disabled=(props.disabled || false) tabindex=(props.disabled ? -1 : false) aria-label=ariaLabel)
        +icon({glyph: props.iconGlyph}, iconClasses)
