mixin label(props, extraClasses)
    -
        var labelClasses = {
            "Label__xsmall": props.size === "xsmall",
            "Label__small": props.size === "small",
            "Label__medium": props.size === "medium",
            "Label__large": props.size === "large",
            "Label__wrap": props.wrap === true
        }
    |
    |
    span.Label(class=[labelClasses, extraClasses] title=(props.title ? props.text : false))= props.text
