mixin teamButton(props = {}, extraClasses)
    -
        var teamButtonClasses = {
            active: props.active === true
        }
        var ariaLabel = props.label ? props.label.toLowerCase() : false;
    button.TeamButton(class=[teamButtonClasses, extraClasses] aria-label=ariaLabel)