doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Header Menu
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" type="text/css" href="/build/css/heading-menu/main.css")
    body(class=["poc-menu", "enable-animations"])
        main
            section.sidebar__left
                header
                    button.button
                        span A Really, Really Long Heading In A Button
                        i.material-icons expand_more
                header
                    button.button
                        span A Button
                        i.material-icons expand_more
                header
                    h1
                        button.button
                            span A Really, Really Long Heading In A Button
                            i.material-icons expand_more
                header
                    h1
                        button.button
                            span A Button
                            i.material-icons expand_more
                header
                    h1
                        button.button
                            span A Really, Really Long Heading In A Button
                            i.material-icons expand_more
                    button.icon-button.header-actions-button
                        i.material-icons more_vert
                header
                    h1
                        button.button
                            span A Button
                            i.material-icons expand_more
                    button.icon-button.header-actions-button
                        i.material-icons more_vert
                header
                    div.MenuWrapper
                        h1
                            button.button
                                span A Really, Really Long Heading In A Button
                                i.material-icons expand_more
                    div.MenuWrapper
                        button.icon-button.header-actions-button
                            i.material-icons more_vert
                header
                    div.MenuWrapper
                        h1
                            button.button
                                span A Button
                                i.material-icons expand_more
                    div.MenuWrapper
                        button.icon-button.header-actions-button
                            i.material-icons more_vert
                    //div.MenuWrapper
                    //    h1
                    //        button.button.team-menu-button
                    //            span A Really, Really Long Heading In A Button
                    //            //span A Button
                    //            i.material-icons expand_more
                    //div.MenuWrapper
                    //    button.icon-button.header-actions-button
                    //        i.material-icons more_vert
