.Panels {
    // small views
    // - all small views
    @include media-width(null, $width-tablet-small-max) {
        @include flex-row;
        @include flex-dynamic;
        @include size(100%, 100%);
        @include position(absolute, 0px, 0px);

        &.collapsable {
            @include position(absolute, 100%, 0px);

            &.open {
                transform: translateX(-100%);
            }
        }

        > .Panel {
            @include position(absolute, 100%, 0px);

            // first panel is always active
            &:first-child,
            &__first {
                @include position(relative, 0px, 0px);
            }

            &.active {
                transform: translateX(-100%);
            }
        }

        #root.MobileMenu--open & {
            transform: translateX(var(--mobile-menu-width));

            // disable interaction on child elements
            > * {
                pointer-events: none;
            }
        }

        // animation
        transition: transform var(--animation-length-short) 0s ease-in-out;
    }
    // mobile only
    @include media-width(null, $width-mobile-max) {
    }
    // small tablet only
    @include media-width($width-tablet-small-max, $width-tablet-small-max) {
    }

    // large views
    // - all large views
    @include media-width($width-tablet-large-min) {
        @include flex-row;
        @include flex-dynamic;

        position: relative;

        &:not(.collapsable) {
            > .Panel {
                + .Panel {
                    @include panel-background(
                        transparent,
                        var(--main-color-background),
                        var(--shadow-elevation-2)
                    );
                }
            }
        }

        &.collapsable {
            @include flex-fixed;
            @include size(0px, 100%);
            @include panel-background(
                transparent,
                var(--main-color-background),
                var(--shadow-elevation-0)
            );

            &.open {
                @include size(400px, 100%);
                @include panel-background(
                    transparent,
                    var(--main-color-background),
                    var(--shadow-elevation-2)
                );
            }
        }

        &.stacked {
            > .Panel {
                @include position(absolute, 100%, 0px);

                // first panel is always active
                &:first-child {
                    @include position(relative, 0px, 0px);
                }

                &.active {
                    transform: translateX(-100%);
                }
            }
        }

        // animation
        transition: width var(--animation-length-short) 0s ease-in-out,
            box-shadow var(--animation-length-short) 0s ease-in-out;
    }
    // - large tablet only
    @include media-width($width-tablet-large-min, $width-tablet-large-max) {
        &.collapsable {
            @include size(400px, 100%);
            @include position(absolute, 100%, 0px);

            transform: translateX(calc(0% - var(--apps-sidebar-width)));

            &.open {
                position: absolute;
                transform: translateX(calc(-100% - var(--apps-sidebar-width)));
            }
        }

        // animation
        transition: transform var(--animation-length-short) 0s ease-in-out;
    }
    // - small desktop only
    @include media-width($width-desktop-small-min, $width-desktop-small-max) {
    }
    // - large desktop only
    @include media-width($width-desktop-large-min) {
        &.collapsable {
            &.open {
                @include size(500px, 100%);
            }
        }
    }
}

@import './panel';
@import './panel-main';
@import './panel-thread';
@import './panel-threads';
