.Panel {
    @include flex-column;
    @include flex-dynamic;

    > header {
        @include flex-row;
        @include flex-fixed;
        @include flex-layout(flex-start);

        position: relative;
    }

    // small views
    // - all small views
    @include media-width(null, $width-tablet-small-max) {
        @include size(100%, 100%);

        > header {
            @include size(100%, 40px);

            padding: 0 10px;
            color: white;
            background: var(--sidebar-lhs-color-background);
            border: none;

            > * + * {
                margin-left: 8px;
            }
        }

        > section {
            @include flex-column;
            @include flex-dynamic;
            @include panel-background(
                transparent,
                var(--main-color-background),
                var(--shadow-elevation-2),
                true
            );
        }

        > header {
            #root.MobileMenu--open & {
                background: var(--global-header-color-background);
            }
        }

        // animation
        transition: color var(--animation-length-short) 0s ease-in-out,
            transform var(--animation-length-short) 0s ease-in-out;

        > header {
            transition: background var(--animation-length-short) 0s ease-in-out;
        }

        &::before {
            transition: color var(--animation-length-short) 0s ease-in-out,
                border-radius var(--animation-length-short) 0s ease-in-out;
        }
    }
    // mobile only
    @include media-width(null, $width-mobile-max) {
    }
    // small tablet only
    @include media-width($width-tablet-small-max, $width-tablet-small-max) {
    }

    // large views
    // - all large views
    @include media-width($width-tablet-large-min) {
        @include size(100%, 100%);
        @include panel-background(transparent, var(--main-color-background), none);

        > header {
            @include size(100%, 56px);

            padding: 0 16px;
            border-bottom: solid 1px rgba(var(--main-color-foreground-rgb), 0.08);

            > *:not(.mobile--visible) + * {
                margin-left: 8px;
            }
        }

        // animation
        transition: transform var(--animation-length-short) 0s ease-in-out;
    }
    // - large tablet only
    @include media-width($width-tablet-large-min, $width-tablet-large-max) {
    }
    // - small desktop only
    @include media-width($width-desktop-small-min, $width-desktop-small-max) {
    }
    // - large desktop only
    @include media-width($width-desktop-large-min) {
    }
}
