-
    var menuItems = {
        menuTitle: "Menu",
        menuItems: [
            {
                "label": "Mark as read",
                "leftIcon": "icon-mark-as-unread"
            },
            {
                "label": "Favorite",
                "leftIcon": "icon-star-outline"
            },
            {
                "label": "Mute channel",
                "leftIcon": "icon-bell-outline",
                "sectionEnd": true
            },
            {
                "label": "Move to",
                "leftIcon": "icon-folder-move-outline",
                "rightIcon": "icon-chevron-right",
                "sectionEnd": true
            },
            {
                "label": "Copy link",
                "leftIcon": "icon-link-variant"
            },
            {
                "label": "Add members",
                "leftIcon": "icon-account-outline",
                "sectionEnd": true
            },
            {
                "label": "Leave channel",
                "leftIcon": "icon-close"
            }
        ]
    }