-
    var subMenuItems = {
        menuTitle: "Move to",
        menuItems: [
            {
                "label": "Favorites",
                "leftIcon": "icon-star-outline"
            },
            {
                "label": "Design",
                "leftIcon": "icon-folder-outline",
                "sectionEnd": true
            },
            {
                "label": "Move to new category",
                "leftIcon": "icon-folder-move-outline"
            }
        ]
    }