.MenuItem {
    @include reset-list;

    display: grid;
    place-items: center start;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    color: rgba(var(--black-rgb), 1);
    background: transparent;

    &Wrapper {
        @include reset-button;

        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
        position: relative;
        padding: 0 20px 0 48px;
        width: 100%;
        min-height: 36px;
        line-height: 36px;
    }

    .Icon {
        color: rgba(var(--black-rgb), 0.56);
    }

    .MenuItem__Icon {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }

    &:active,
    &.active {
        color: rgba(var(--black-rgb), 1);
        background: rgba(var(--button-bg-rgb), 0.08);

        .Icon {
            color: rgba(var(--black-rgb), 0.64);
        }
    }

    &:hover {
        color: rgba(var(--black-rgb), 1);
        background: rgba(var(--black-rgb), 0.08);

        .Icon {
            color: rgba(var(--black-rgb), 0.64);
        }
    }

    &[data-destructive] {
        color: rgba(var(--destructive-rgb), 1);

        .Icon {
            color: inherit;
        }

        &:hover {
            background: rgba(var(--destructive-rgb), 0.08);
        }
    }

    // animation
    transition: color $animation-speed-shorter 0ms ease-in-out,
        background $animation-speed-shorter 0ms ease-in-out;

    &:hover,
    &:active {
        transition: color $animation-speed-shortest 0ms ease-in-out,
            background $animation-speed-shortest 0ms ease-in-out;
    }

    @include media-width(null, $width-tablet-small-max) {
    }
    @include media-width($width-tablet-large-min) {
    }
}
