.Sidebar__teams {
    @include flex-column;
    @include flex-fixed;
    @include flex-layout(flex-start, center);
    @include size(var(--team-sidebar-width), 100%);
    @include collapsed;

    padding: 12px 0;

    > * + * {
        margin-top: 12px;
    }

    @include panel-background(
        var(--global-header-color-background),
        var(--sidebar-team-color-background)
    );

    &::before {
        border-bottom-left-radius: 0px;
    }

    // small views
    // - all small views
    @include media-width(null, $width-tablet-small-max) {
    }
    // mobile only
    @include media-width(null, $width-mobile-max) {
    }
    // small tablet only
    @include media-width($width-tablet-small-max, $width-tablet-small-max) {
    }

    // large views
    // - all large views
    @include media-width($width-tablet-large-min) {
    }
    // - large tablet only
    @include media-width($width-tablet-large-min, $width-tablet-large-max) {
    }
    // - small desktop only
    @include media-width($width-desktop-small-min, $width-desktop-small-max) {
    }
    // - large desktop only
    @include media-width($width-desktop-large-min) {
    }
}
