.Button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 16px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    cursor: pointer;

    // elements (icons, label)
    .Button_icon {
        z-index: 2;
    }
    .Button_label {
        margin: 0 8px;
        z-index: 2;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    // states
    // - ::before used for background shades, ::after used for inside border
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        border: solid 2px transparent;
        background: transparent;
        z-index: 1;
    }

    // - primary states

    &__primary {
        color: color(--button-foreground-rgb);
        background: color(--button-background-rgb);

        &[destructive] {
            background: color(--button-destructive-rgb);
        }

        &[inverted] {
            color: color(--button-background-rgb);
            background: color(--button-foreground-rgb);
        }

        &:hover,
        &.hover {
            &::before {
                background: color(--button-lowlight-rgb, 0.08);
            }

            &[inverted] {
                &::before {
                    background: color(--button-background-rgb, 0.08);
                }
            }
        }
        &:active,
        &.active {
            &::before {
                background: color(--button-lowlight-rgb, 0.16);
            }

            &[inverted] {
                &::before {
                    background: color(--button-background-rgb, 0.16);
                }
            }
        }
        &:focus,
        &.focus {
            &::after {
                border-color: color(--button-highlight-rgb, 0.32);
            }

            &[inverted] {
                &::after {
                    border-color: color(--button-background-rgb, 0.32);
                }
            }
        }
        &:focus:not(:focus-visible) {
            &::after {
                border-color: transparent;
            }

            &[inverted] {
                &::after {
                    border-color: transparent;
                }
            }
        }
        &:focus-visible {
            &::after {
                border-color: color(--button-highlight-rgb, 0.32);
            }

            &[inverted] {
                &::after {
                    border-color: color(--button-background-rgb, 0.32);
                }
            }
        }

        &[disabled] {
            cursor: not-allowed;

            &,
            &:hover,
            &.hover,
            &:focus,
            &:focus-visible,
            &.focus,
            &:active,
            &.active {
                color: color(--button-disabled-rgb, 0.32);
                background: color(--button-disabled-rgb, 0.08);

                &::before,
                &::after {
                    border: none;
                    background: none;
                }
            }
        }
    }

    // - secondary states

    &__secondary {
        color: color(--button-background-rgb);
        background: color(--button-background-rgb, 0);

        &::after {
            border-width: 1px;
            border-color: color(--button-background-rgb);
        }

        &[destructive] {
            color: color(--button-destructive-rgb);

            &::after {
                border-color: color(--button-destructive-rgb);
            }
        }

        &[inverted] {
            color: color(--button-foreground-rgb);

            &::after {
                border-color: color(--button-foreground-rgb);
            }
        }

        &:hover,
        &.hover {
            &::before {
                background: color(--button-background-rgb, 0.08);
            }

            &[destructive] {
                &::before {
                    background: color(--button-destructive-rgb, 0.08);
                }
            }

            &[inverted] {
                &::before {
                    background: color(--button-foreground-rgb, 0.08);
                }
            }
        }
        &:active,
        &.active {
            &::before {
                background: color(--button-background-rgb, 0.16);
            }

            &[destructive] {
                &::before {
                    background: color(--button-destructive-rgb, 0.16);
                }
            }

            &[inverted] {
                &::before {
                    background: color(--button-foreground-rgb, 0.16);
                }
            }
        }
        &:focus,
        &.focus {
            &::after {
                border-width: 2px;
            }
        }
        &:focus:not(:focus-visible) {
            &::after {
                border-width: 1px;
            }
        }
        &:focus-visible {
            &::after {
                border-width: 2px;
            }
        }

        &[disabled] {
            cursor: not-allowed;

            &,
            &:hover,
            &.hover,
            &:focus,
            &:focus-visible,
            &.focus,
            &:active,
            &.active {
                color: color(--button-disabled-rgb, 0.32);
                background: transparent;

                &::before,
                &::after {
                    border: none;
                    background: none;
                }

                &::after {
                    border: 1px solid color(--button-disabled-rgb, 0.32);
                }
            }
        }
    }

    // sizes (xsmall, small (default), large, full width)
    &__xsmall {
        padding: 10px 12px;
        height: 32px;
    }
    &,
    &__small {
        padding: 10px 12px;
        height: 32px;
    }
    &__large {
        padding: 14px 20px;
        height: 48px;
    }
    &__fullWidth {
        width: 100%;

        .Button_icon {
            flex-shrink: 1;
        }
        .Button_label {
            flex-grow: 1;
        }
    }

    // animation
    .enable-animations & {
        &::before {
            transition: background $animation-speed-shorter 0s ease-in-out;
        }
        &::after {
            transition: border-color $animation-speed-shorter 0s ease-in-out,
                border-width $animation-speed-shorter 0s ease-in-out;
        }
    }
}
