.Heading {
    position: relative;
    margin: 0;
    font-family: 'Metropolis', sans-serif;
    font-size: 14/10 * 1rem;
    font-weight: 600;
    line-height: (18/14);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.Heading___small {
        font-size: 12px;
        line-height: (16/12);
    }

    &.Heading___large {
        font-size: 16px;
        line-height: (20/16);
    }

    &.Heading___xlarge {
        font-size: 22px;
        line-height: (26/22);
    }

    &.Heading___wrap {
        white-space: normal;
    }
}
