.IconButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    border-radius: 4px;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    cursor: pointer;

    // elements
    .IconButton_label {
        margin-left: 4px;
    }

    // states
    // - ::before, ::after used for inside border
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        border: solid 2px transparent;
        z-index: 0;
    }

    // - default states

    & {
        color: color(--icon-button-foreground-rgb, 0.56);
        background: transparent;

        &[inverted] {
            color: color(--icon-button-highlight-rgb, 0.64);
            background: transparent;
        }
    }

    &:hover,
    &.hover {
        color: color(--icon-button-foreground-rgb, 0.72);
        background: color(--icon-button-foreground-rgb, 0.08);

        &[inverted] {
            color: color(--icon-button-highlight-rgb);
            background: color(--icon-button-highlight-rgb, 0.08);
        }
    }
    &:focus,
    &.focus {
        &::before {
            border-color: color(--icon-button-background-rgb);
        }
        &::after {
            border-color: color(--icon-button-highlight-rgb, 0.32);
        }
    }
    &:focus:not(:focus-visible):not(.focus) {
        &::before {
            border-color: transparent;
        }
        &::after {
            border-color: transparent;
        }
    }
    &:focus-visible {
        &::before {
            border-color: color(--icon-button-background-rgb);
        }
        &::after {
            border-color: color(--icon-button-highlight-rgb, 0.32);
        }
    }
    &:active,
    &.active {
        color: color(--icon-button-background-rgb);
        background: color(--icon-button-background-rgb, 0.08);

        &[inverted] {
            color: color(--icon-button-highlight-rgb);
            background: color(--icon-button-highlight-rgb, 0.16);
        }
    }

    // - toggled state

    &[toggled]:not([destructive]) {
        color: color(--icon-button-highlight-rgb);
        background: color(--icon-button-background-rgb);

        &[inverted] {
            color: color(--icon-button-background-rgb);
            background: color(--icon-button-highlight-rgb);
        }

        &:hover,
        &.hover {
            color: color(--icon-button-highlight-rgb);
            background: color(--icon-button-background-rgb, 0.92);

            &[inverted] {
                color: color(--icon-button-background-rgb);
                background: color(--icon-button-highlight-rgb, 0.92);
            }
        }
        &:active,
        &.active {
            color: color(--icon-button-background-rgb);
            background: color(--icon-button-background-rgb, 0.08);

            &[inverted] {
                color: color(--icon-button-highlight-rgb);
                background: color(--icon-button-highlight-rgb, 0.16);
            }
        }
    }

    // - destructive state
    &[destructive] {
        color: color(--icon-button-destructive-rgb);
        background: transparent;

        &[inverted] {
            color: color(--icon-button-highlight-rgb, 0.64);
            background: trransparent;
        }

        &:hover,
        &.hover {
            color: color(--icon-button-destructive-rgb);
            background: color(--icon-button-destructive-rgb, 0.08);

            &[inverted] {
                color: color(--icon-button-highlight-rgb);
                background: color(--icon-button-destructive-rgb, 0.8);
            }
        }
        &:focus,
        &.focus {
            &::before {
                border-color: color(--icon-button-destructive-rgb);
            }
            &::after {
                border-color: color(--icon-button-highlight-rgb, 0.32);
            }
        }
        &:focus:not(:focus-visible):not(.focus) {
            &::before {
                border-color: transparent;
            }
            &::after {
                border-color: transparent;
            }
        }
        &:focus-visible {
            &::before {
                border-color: color(--icon-button-destructive-rgb);
            }
            &::after {
                border-color: color(--icon-button-highlight-rgb, 0.32);
            }
        }
        &:active,
        &.active {
            color: color(--icon-button-destructive-rgb);
            background: color(--icon-button-destructive-rgb, 0.16);

            &[inverted] {
                color: color(--icon-button-highlight-rgb);
                background: color(--icon-button-destructive-rgb);
            }
        }
    }

    // disabled state

    &[disabled],
    &.disabled {
        cursor: not-allowed;

        &,
        &:hover,
        &.hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            color: color(--icon-button-foreground-rgb, 0.32);
            background: transparent;

            &::before,
            &::after {
                border-color: transparent;
            }

            &[inverted] {
                color: color(--icon-button-highlight-rgb, 0.32);
                background: transparent;

                &::before,
                &::after {
                    border-color: transparent;
                }
            }
        }
    }

    // sizes (xsmall, small (default), medium, large)
    &__xsmall {
        min-width: 24px;
        height: 24px;

        &[compact] {
            min-width: 20px;
            height: 20px;
        }
    }
    &,
    &__small {
        min-width: 32px;
        height: 32px;
        padding: 0 8px;

        &[compact] {
            min-width: 28px;
            height: 28px;
            padding: 0 6px;
        }
    }
    &__medium {
        min-width: 40px;
        height: 40px;

        &[compact] {
            min-width: 36px;
            height: 36px;
        }
    }
    &__large {
        min-width: 48px;
        height: 48px;

        &[compact] {
            min-width: 44px;
            height: 44px;
        }
    }

    // animation
    .enable-animations & {
        transition: background-color $animation-speed-shorter 0s ease-in-out;

        &::before,
        &::after {
            transition: border-color $animation-speed-shorter 0s ease-in-out;
        }
    }
}
