.MenuGroup {
    display: flex;
    flex-direction: column;

    & + & {
        &::before {
            content: '';
            margin: 8px 20px;
            height: 1px;
            background: rgba(var(--black-rgb), 0.16);
        }
    }
    @include media-width(null, $width-tablet-small-max) {
        & + & {
            &::before {
                margin: 8px 20px;
            }
        }
    }
    @include media-width($width-tablet-large-min) {
        & + & {
            &::before {
                margin: 8px 0;
            }
        }
    }
}
