doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Button Component
        link(rel="stylesheet" type="text/css" href="/build/css/menu/main.css")
    body(class=["poc", "poc-button", "enable-animations"])
        include components/_button
        include components/_label
        include components/_icon

        +button({
            label: "Button",
            link: false,
            style: "primary",
            size: "small",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "secondary",
            size: "small",
            fullWidth: false,
            rightIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "tertiary",
            size: "small",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            size: "small",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            size: "small",
            style: "primary",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline",
            disabled: true
        })
        +button({
            label: "Button",
            link: false,
            style: "primary",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "secondary",
            fullWidth: false,
            rightIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "tertiary",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "primary",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline",
            rightIconGlyph: "icon-emoticon-happy-outline",
            disabled: true
        })
        +button({
            label: "Button",
            link: false,
            style: "primary",
            size: "large",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "secondary",
            size: "large",
            fullWidth: false,
            rightIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "tertiary",
            size: "large",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            size: "large",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline"
        })
        +button({
            label: "Button",
            link: false,
            style: "primary",
            size: "large",
            fullWidth: false,
            leftIconGlyph: "icon-emoticon-happy-outline",
            disabled: true
        })
