doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Icon Button Component
        link(rel="stylesheet" type="text/css" href="/build/css/menu/main.css")
    body(class=["poc", "poc-icon-button", "enable-animations"])
        include components/_icon-button
        include components/_icon

        +iconButton({
            size: "compact",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button"
        })
        +iconButton({
            size: "small",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button"
        })
        +iconButton({
            size: "standard",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button"
        })
        +iconButton({
            size: "large",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button"
        })
        +iconButton({
            size: "compact",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button",
            disabled: true
        })
        +iconButton({
            size: "small",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button",
            disabled: true
        })
        +iconButton({
            size: "standard",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button",
            disabled: true
        })
        +iconButton({
            size: "large",
            iconGlyph: "icon-emoticon-happy-outline",
            label: "Icon button",
            disabled: true
        })
