doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Menu
        link(rel="stylesheet" type="text/css" href="./css/main.css")
    body(class=["poc-menu", "enable-animations"])
        include ../components/_components
        include components/_menu-container
        include components/_menu-panels
        include components/_menu-panel
        include components/_menu-header
        include components/_menu-group
        include components/_menu-item
        
        +iconButton({id: 'MainMenu', iconGlyph: 'icon-menu', size: 'small'})
        
        +MenuContainer({id: 'ChannelMenu'})
            +MenuPanels({id: 'ChannelMenuPanels'})
                +MenuPanel({id: 'ChannelMenuPanel'}, 'open active')
                    +MenuHeader({text: 'UX Design'})
                    +MenuGroup()
                        +MenuItem({text: 'View Info', glyph: 'icon-information-outline'})
                        +MenuItem({text: 'Edit Channel', glyph: 'icon-pencil-outline'})
                        +MenuItem({text: 'Copy Link', glyph: 'icon-link-variant'})
                        +MenuItem({text: 'No Icon'})
                    +MenuGroup()
                        +MenuItem({targetPanelID: 'MoveToPanel', text: 'Move To', glyph: 'icon-folder-move-outline', actionGlyph: 'icon-chevron-right'})
                    +MenuGroup()
                        +MenuItem({text: 'Navigation Preferences', glyph: 'icon-bell-outline'})
                        +MenuItem({text: 'Mute Channel', glyph: 'icon-bell-off-outline'})
                        +MenuItem({text: 'Favorite', glyph: 'icon-star-outline'})
                    +MenuGroup()
                        +MenuItem({text: 'Members', glyph: 'icon-account-multiple-outline'})
                        +MenuItem({text: 'Pinned Messages', glyph: 'icon-pin-outline'})
                        +MenuItem({text: 'Files', glyph: 'icon-file-text-outline'})
                    +MenuGroup()
                        +MenuItem({text: 'Leave Channel', glyph: 'icon-exit-to-app', destructive: true})
                        +MenuItem({text: 'Archive Channel', glyph: 'icon-trash-can-outline', destructive: true})
                +MenuPanel({id: 'MoveToPanel'})
                    +MenuHeader({text: 'Move To', enableBackButton: true})
                    +MenuGroup()
                        +MenuItem({text: 'Favorites', glyph: 'icon-star-outline'})
                        +MenuItem({text: 'Active Projects', glyph: 'icon-folder-outline'})
                        +MenuItem({text: 'UX', glyph: 'icon-folder-outline'})
                        +MenuItem({text: 'Release', glyph: 'icon-folder-outline'})
                        +MenuItem({text: 'Design Team', glyph: 'icon-folder-outline'})
                        +MenuItem({text: 'Frequent DMs', glyph: 'icon-folder-outline'})
                        +MenuItem({text: 'Bots', glyph: 'icon-folder-outline'})
                        +MenuItem({text: 'Auditions', glyph: 'icon-folder-outline'})
                        +MenuItem({text: 'Channels', glyph: 'icon-folder-outline'})
                    +MenuGroup()
                        +MenuItem({targetPanelID: 'AnotherPanel', text: 'Another Sub Menu', glyph: 'icon-folder-move-outline', actionGlyph: 'icon-chevron-right'})
                    +MenuGroup()
                        +MenuItem({text: 'New Category', glyph: 'icon-folder-plus-outline'})
                +MenuPanel({id: 'AnotherPanel'})
                    +MenuHeader({text: 'Another Sub Menu', enableBackButton: true})
                    +MenuGroup()
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                        +MenuItem({ glyph: 'icon-folder-outline'})
                    +MenuGroup()
                        +MenuItem({glyph: 'icon-folder-plus-outline'})
        
        script(src="https://unpkg.com/@popperjs/core@2")
        script(src="./js/main-min.js")