doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Menu
        link(rel="stylesheet" type="text/css" href="/build/css/menu/main.css")
    body(class=["poc-menu", "enable-animations"])
        include components/_menu-container
        include components/_menu-header
        include components/_menu
        include components/_menu-panel
        include components/_menu-item
        include components/_icon-button
        include components/_button
        include components/_label
        include components/_icon

        +menuContainer()

        script(src="/build/js/menu/main-min.js" type="text/javascript")