doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Label Component
        link(rel="stylesheet" type="text/css" href="/build/css/menu/main.css")
    body(class=["poc", "poc-label", "enable-animations"])
        include components/_label

        +label({text: "Label", size: "small"})
        +label({text: "Label", size: "standard"})
        +label({text: "Label", size: "large"})
        +label({text: "Lorem ipsum dolor sit amet, consectetur adipiscing.", size: "standard", title: true}, "poc-label-long")
        +label({text: "Lorem ipsum dolor sit amet, consectetur adipiscing.", size: "standard", wrap: true}, "poc-label-long")
