.IconButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 14/10 * 1rem;
    line-height: 1;
    color: color(--foreground-rgb, 0.56);
    border-radius: 4px;
    border: none;
    outline: none;
    background: color(--foreground-rgb, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    cursor: pointer;

    // elements
    .IconButton_icon {
        color: color(--foreground-rgb, 0.56);
    }

    // states
    // - ::before, ::after used for inside border
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 4px;
        border: solid 2px transparent;
        z-index: 0;
    }

    &:hover,
    &.hover {
        background: color(--foreground-rgb, 0.08);

        .IconButton_icon {
            color: color(--foreground-rgb, 0.72);
        }
    }
    &:focus,
    &.focus {
        &::before {
            border-color: color(--button-background-rgb);
        }
        &::after {
            border-color: color(--white-rgb, 0.32);
        }
    }
    &:focus:not(:focus-visible) {
        &::before {
            border-color: transparent;
        }
        &::after {
            border-color: transparent;
        }
    }
    &:focus-visible {
        &::before {
            border-color: color(--button-background-rgb);
        }
        &::after {
            border-color: color(--white-rgb, 0.32);
        }
    }
    &:active,
    &.active {
        background: color(--button-background-rgb, 0.08);

        .IconButton_icon {
            color: color(--button-background-rgb);
        }
    }
    &[disabled],
    &.disabled {
        cursor: not-allowed;

        &,
        &:hover,
        &.hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background: transparent;

            .IconButton_icon {
                color: color(--foreground-rgb, 0.32);
            }

            &::before {
                border-color: transparent;
            }
        }
    }

    // inverted states

    &.inverted {
        color: color(--button-foreground-rgb, 0.64);
        background: color(--button-foreground-rgb, 0);

        .IconButton_icon {
            color: color(--button-foreground-rgb, 0.64);
        }

        &:hover,
        &.hover {
            background: color(--button-foreground-rgb, 0.08);

            .IconButton_icon {
                color: color(--button-foreground-rgb);
            }
        }
        &:active,
        &.active {
            background: color(--button-foreground-rgb, 0.16);

            .IconButton_icon {
                color: color(--button-foreground-rgb);
            }
        }
        &[disabled],
        &.disabled {
            &,
            &:hover,
            &.hover,
            &:focus,
            &.focus,
            &:active,
            &.active {
                background: transparent;

                .IconButton_icon {
                    color: color(--button-foreground-rgb, 0.32);
                }
            }
        }
    }

    // sizes (compact, small, large)
    &___compact {
        padding: 6px;
        width: 28px;
        height: 28px;
    }
    &___small {
        padding: 8px;
        width: 32px;
        height: 32px;
    }
    &___large {
        padding: 10px;
        width: 48px;
        height: 48px;

        // the large IconButton uses a non-standard icon size
        .IconButton_icon {
            padding: 4px;
            width: 28px;
            height: 28px;

            &::before {
                font-size: 24/10 * 1rem;
            }
        }
    }

    // animation
    .enable-animations & {
        transition: background-color $animation-speed-shorter 0s ease-in-out;

        &::before,
        &::after {
            transition: border-color $animation-speed-shorter 0s ease-in-out;
        }
    }
}
