.Label {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.Label___xsmall {
        font-size: 12px;
        line-height: 16px;
    }

    &.Label___small {
        font-size: 14px;
        line-height: 18px;
    }

    &,
    &.Label___medium {
        font-size: 16px;
        line-height: 20px;
    }

    &.Label___large {
        font-size: 18px;
        line-height: 22px;
    }

    &.Label___wrap {
        white-space: normal;
    }

    // animation
    .enable-animations & {
        transition: color $animation-speed-shorter 0s ease-in-out;
    }
}
