// SASS Variables
// - animation/transitions
$animation-speed-shortest: 0.1s;
$animation-speed-shorter: 0.15s;
$animation-speed-short: 0.2s;
$animation-speed-normal: 0.3s;
$animation-speed-long: 0.4s;
$animation-speed-longer: 0.45s;
$animation-speed-longest: 0.5s;

// SASS Functions
@function color($rgb, $alpha: 1) {
    @if $alpha >= 0 and $alpha < 1 {
        @return unquote('rgba(var(#{$rgb}), #{$alpha})');
    } @else {
        @return unquote('rgb(var(#{$rgb}))');
    }
}

// CSS Variables
:root {
    // base colour variables
    --black-rgb: 0, 0, 0;
    --white-rgb: 255, 255, 255;
    --background-rgb: 255, 255, 255;
    --foreground-rgb: 63, 67, 80;
    --button-background-rgb: 28, 88, 217;
    --button-foreground-rgb: 255, 255, 255;
}

.theme {
    &-denim {
        --away-indicator-rgb: 255, 188, 31;
        --away-indicator: #ffbc1f;
        --button-bg-rgb: 28, 88, 217;
        --button-bg: #1c58d9;
        --button-color-rgb: 255, 255, 255;
        --button-color: #ffffff;
        --center-channel-bg-rgb: 255, 255, 255;
        --center-channel-bg: #ffffff;
        --center-channel-color-rgb: 63, 67, 80;
        --center-channel-color: #3f4350;
        --dnd-indicator-rgb: 210, 75, 78;
        --dnd-indicator: #d24b4e;
        --error-text-color-rgb: 210, 75, 78;
        --error-text: #d24b4e;
        --link-color-rgb: 56, 111, 229;
        --link-color: #386fe5;
        --mention-bg-rgb: 255, 255, 255;
        --mention-bg: #ffffff;
        --mention-color-rgb: 30, 50, 92;
        --mention-color: #1e325c;
        --mention-highlight-bg-mixed-rgb: 255, 233, 183;
        --mention-highlight-bg-rgb: 255, 212, 112;
        --mention-highlight-bg: #ffd470;
        --mention-highlight-link-rgb: 27, 29, 34;
        --mention-highlight-link: #1b1d22;
        --new-message-separator-rgb: 204, 143, 0;
        --new-message-separator: #cc8f00;
        --online-indicator-rgb: 61, 184, 135;
        --online-indicator: #3db887;
        --own-highlight-bg-rgb: 245, 204, 110;
        --pinned-highlight-bg-mixed-rgb: 255, 244, 220;
        --sidebar-bg-rgb: 30, 50, 92;
        --sidebar-bg: #1e325c;
        --sidebar-header-bg-rgb: 25, 42, 77;
        --sidebar-header-bg: #192a4d;
        --sidebar-header-text-color-rgb: 255, 255, 255;
        --sidebar-header-text-color: #ffffff;
        --sidebar-teambar-bg-rgb: 20, 33, 62;
        --sidebar-teambar-bg: #14213e;
        --sidebar-text-active-border-rgb: 93, 137, 234;
        --sidebar-text-active-border: #5d89ea;
        --sidebar-text-active-color-rgb: 255, 255, 255;
        --sidebar-text-active-color: #ffffff;
        --sidebar-text-hover-bg-rgb: 40, 66, 123;
        --sidebar-text-hover-bg: #28427b;
        --sidebar-text-rgb: 255, 255, 255;
        --sidebar-text: #ffffff;
        --sidebar-unread-text-rgb: 255, 255, 255;
        --sidebar-unread-text: #ffffff;
        // --global-header-background: var(--sidebar-teambar-bg);
        // --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
        // --sidebar-teambar-bg: var(--sidebar-header-bg);
        // --sidebar-teambar-bg-rgb: var(--sidebar-header-bg-rgb);
        // --sidebar-header-bg: var(--sidebar-bg);
        // --sidebar-header-bg-rgb: var(--sidebar-bg-rgb);
        // --global-header-text: var(--sidebar-header-text-color);
        // --global-header-text-rgb: var(--sidebar-header-text-color-rgb);
        // --sidebar-header-text-color: var(--sidebar-text);
        // --sidebar-header-text-color-rgb: var(--sidebar-text-rgb);
    }
    &-sapphire {
        --away-indicator-rgb: 255, 188, 31;
        --away-indicator: #ffbc1f;
        --button-bg-rgb: 28, 88, 217;
        --button-bg: #1c58d9;
        --button-color-rgb: 255, 255, 255;
        --button-color: #ffffff;
        --center-channel-bg-rgb: 255, 255, 255;
        --center-channel-bg: #ffffff;
        --center-channel-color-rgb: 63, 67, 80;
        --center-channel-color: #3f4350;
        --dnd-indicator-rgb: 210, 75, 78;
        --dnd-indicator: #d24b4e;
        --error-text-color-rgb: 210, 75, 78;
        --error-text: #d24b4e;
        --link-color-rgb: 28, 88, 217;
        --link-color: #1c58d9;
        --mention-bg-rgb: 255, 255, 255;
        --mention-bg: #ffffff;
        --mention-color-rgb: 23, 74, 181;
        --mention-color: #174ab5;
        --mention-highlight-bg-mixed-rgb: 191, 247, 247;
        --mention-highlight-bg-rgb: 127, 240, 240;
        --mention-highlight-bg: #7ff0f0;
        --mention-highlight-link-rgb: 13, 110, 110;
        --mention-highlight-link: #0d6e6e;
        --new-message-separator-rgb: 21, 183, 183;
        --new-message-separator: #15b7b7;
        --online-indicator-rgb: 61, 184, 135;
        --online-indicator: #3db887;
        --own-highlight-bg-rgb: 123, 231, 232;
        --pinned-highlight-bg-mixed-rgb: 224, 251, 251;
        --sidebar-bg-rgb: 23, 74, 181;
        --sidebar-bg: #174ab5;
        --sidebar-header-bg-rgb: 21, 66, 162;
        --sidebar-header-bg: #1542a2;
        --sidebar-header-text-color-rgb: 255, 255, 255;
        --sidebar-header-text-color: #ffffff;
        --sidebar-teambar-bg-rgb: 19, 58, 145;
        --sidebar-teambar-bg: #133a91;
        --sidebar-text-active-border-rgb: 87, 181, 240;
        --sidebar-text-active-border: #57b5f0;
        --sidebar-text-active-color-rgb: 255, 255, 255;
        --sidebar-text-active-color: #ffffff;
        --sidebar-text-hover-bg-rgb: 42, 88, 186;
        --sidebar-text-hover-bg: #2a58ba;
        --sidebar-text-rgb: 255, 255, 255;
        --sidebar-text: #ffffff;
        --sidebar-unread-text-rgb: 255, 255, 255;
        --sidebar-unread-text: #ffffff;
        // --global-header-background: var(--sidebar-teambar-bg);
        // --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
        // --sidebar-teambar-bg: var(--sidebar-header-bg);
        // --sidebar-teambar-bg-rgb: var(--sidebar-header-bg-rgb);
        // --sidebar-header-bg: var(--sidebar-bg);
        // --sidebar-header-bg-rgb: var(--sidebar-bg-rgb);
        // --global-header-text: var(--sidebar-header-text-color);
        // --global-header-text-rgb: var(--sidebar-header-text-color-rgb);
        // --sidebar-header-text-color: var(--sidebar-text);
        // --sidebar-header-text-color-rgb: var(--sidebar-text-rgb);
    }
    &-quartz {
        --away-indicator-rgb: 245, 171, 7;
        --away-indicator: #f5ab07;
        --button-bg-rgb: 28, 88, 217;
        --button-bg: #1c58d9;
        --button-color-rgb: 255, 255, 255;
        --button-color: #ffffff;
        --center-channel-bg-rgb: 255, 255, 255;
        --center-channel-bg: #ffffff;
        --center-channel-color-rgb: 63, 67, 80;
        --center-channel-color: #3f4350;
        --dnd-indicator-rgb: 210, 75, 78;
        --dnd-indicator: #d24b4e;
        --error-text-color-rgb: 210, 75, 78;
        --error-text: #d24b4e;
        --link-color-rgb: 28, 88, 217;
        --link-color: #1c58d9;
        --mention-bg-rgb: 28, 88, 217;
        --mention-bg: #1c58d9;
        --mention-color-rgb: 255, 255, 255;
        --mention-color: #ffffff;
        --mention-highlight-bg-mixed-rgb: 191, 247, 247;
        --mention-highlight-bg-rgb: 127, 240, 240;
        --mention-highlight-bg: #7ff0f0;
        --mention-highlight-link-rgb: 13, 110, 110;
        --mention-highlight-link: #0d6e6e;
        --new-message-separator-rgb: 21, 183, 183;
        --new-message-separator: #15b7b7;
        --online-indicator-rgb: 61, 184, 135;
        --online-indicator: #3db887;
        --own-highlight-bg-rgb: 123, 231, 232;
        --pinned-highlight-bg-mixed-rgb: 224, 251, 251;
        --sidebar-bg-rgb: 244, 244, 246;
        --sidebar-bg: #f4f4f6;
        --sidebar-header-bg-rgb: 232, 233, 237;
        --sidebar-header-bg: #e8e9ed;
        --sidebar-header-text-color-rgb: 45, 48, 57;
        --sidebar-header-text-color: #2d3039;
        --sidebar-teambar-bg-rgb: 221, 223, 228;
        --sidebar-teambar-bg: #dddfe4;
        --sidebar-text-active-border-rgb: 50, 164, 236;
        --sidebar-text-active-border: #32a4ec;
        --sidebar-text-active-color-rgb: 45, 48, 57;
        --sidebar-text-active-color: #2d3039;
        --sidebar-text-hover-bg-rgb: 235, 235, 237;
        --sidebar-text-hover-bg: #ebebed;
        --sidebar-text-rgb: 9, 10, 11;
        --sidebar-text: #090a0b;
        --sidebar-unread-text-rgb: 45, 48, 57;
        --sidebar-unread-text: #2d3039;
        // --global-header-background: var(--sidebar-teambar-bg);
        // --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
        // --sidebar-teambar-bg: var(--sidebar-header-bg);
        // --sidebar-teambar-bg-rgb: var(--sidebar-header-bg-rgb);
        // --sidebar-header-bg: var(--sidebar-bg);
        // --sidebar-header-bg-rgb: var(--sidebar-bg-rgb);
        // --global-header-text: var(--sidebar-header-text-color);
        // --global-header-text-rgb: var(--sidebar-header-text-color-rgb);
        // --sidebar-header-text-color: var(--sidebar-text);
        // --sidebar-header-text-color-rgb: var(--sidebar-text-rgb);
    }
    &-indigo {
        --away-indicator-rgb: 245, 171, 0;
        --away-indicator: #f5ab00;
        --button-bg-rgb: 56, 111, 229;
        --button-bg: #386fe5;
        --button-color-rgb: 255, 255, 255;
        --button-color: #ffffff;
        --center-channel-bg-rgb: 10, 17, 31;
        --center-channel-bg: #0a111f;
        --center-channel-color-rgb: 221, 223, 228;
        --center-channel-color: #dddfe4;
        --dnd-indicator-rgb: 210, 75, 78;
        --dnd-indicator: #d24b4e;
        --error-text-color-rgb: 210, 75, 78;
        --error-text: #d24b4e;
        --link-color-rgb: 93, 137, 234;
        --link-color: #5d89ea;
        --mention-bg-rgb: 28, 88, 217;
        --mention-bg: #1c58d9;
        --mention-color-rgb: 255, 255, 255;
        --mention-color: #ffffff;
        --mention-highlight-bg-mixed-rgb: 14, 37, 88;
        --mention-highlight-bg-rgb: 19, 58, 145;
        --mention-highlight-bg: #133a91;
        --mention-highlight-link-rgb: 164, 244, 244;
        --mention-highlight-link: #a4f4f4;
        --new-message-separator-rgb: 129, 163, 239;
        --new-message-separator: #81a3ef;
        --online-indicator-rgb: 61, 184, 135;
        --online-indicator: #3db887;
        --own-highlight-bg-rgb: 29, 66, 149;
        --pinned-highlight-bg-mixed-rgb: 12, 26, 58;
        --sidebar-bg-rgb: 15, 26, 46;
        --sidebar-bg: #0f1a2e;
        --sidebar-header-bg-rgb: 21, 34, 49;
        --sidebar-header-bg: #152231;
        --sidebar-header-text-color-rgb: 221, 223, 228;
        --sidebar-header-text-color: #dddfe4;
        --sidebar-teambar-bg-rgb: 5, 8, 15;
        --sidebar-teambar-bg: #05080f;
        --sidebar-text-active-border-rgb: 18, 121, 186;
        --sidebar-text-active-border: #1279ba;
        --sidebar-text-active-color-rgb: 255, 255, 255;
        --sidebar-text-active-color: #ffffff;
        --sidebar-text-hover-bg-rgb: 34, 44, 63;
        --sidebar-text-hover-bg: #222c3f;
        --sidebar-text-rgb: 255, 255, 255;
        --sidebar-text: #ffffff;
        --sidebar-unread-text-rgb: 255, 255, 255;
        --sidebar-unread-text: #ffffff;
        // --global-header-background: var(--sidebar-teambar-bg);
        // --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
        // --sidebar-teambar-bg: var(--sidebar-header-bg);
        // --sidebar-teambar-bg-rgb: var(--sidebar-header-bg-rgb);
        // --sidebar-header-bg: var(--sidebar-bg);
        // --sidebar-header-bg-rgb: var(--sidebar-bg-rgb);
        // --global-header-text: var(--sidebar-header-text-color);
        // --global-header-text-rgb: var(--sidebar-header-text-color-rgb);
        // --sidebar-header-text-color: var(--sidebar-text);
        // --sidebar-header-text-color-rgb: var(--sidebar-text-rgb);
    }
    &-onyx {
        --away-indicator-rgb: 245, 171, 0;
        --away-indicator: #f5ab00;
        --button-bg-rgb: 56, 111, 229;
        --button-bg: #386fe5;
        --button-color-rgb: 255, 255, 255;
        --button-color: #ffffff;
        --center-channel-bg-rgb: 9, 10, 11;
        --center-channel-bg: #090a0b;
        --center-channel-color-rgb: 221, 223, 228;
        --center-channel-color: #dddfe4;
        --dnd-indicator-rgb: 210, 75, 78;
        --dnd-indicator: #d24b4e;
        --error-text-color-rgb: 218, 108, 110;
        --error-text: #da6c6e;
        --link-color-rgb: 93, 137, 234;
        --link-color: #5d89ea;
        --mention-bg-rgb: 28, 88, 217;
        --mention-bg: #1c58d9;
        --mention-color-rgb: 255, 255, 255;
        --mention-color: #ffffff;
        --mention-highlight-bg-mixed-rgb: 11, 60, 60;
        --mention-highlight-bg-rgb: 13, 110, 110;
        --mention-highlight-bg: #0d6e6e;
        --mention-highlight-link-rgb: 164, 244, 244;
        --mention-highlight-link: #a4f4f4;
        --new-message-separator-rgb: 26, 219, 219;
        --new-message-separator: #1adbdb;
        --online-indicator-rgb: 61, 184, 135;
        --online-indicator: #3db887;
        --own-highlight-bg-rgb: 23, 115, 115;
        --pinned-highlight-bg-mixed-rgb: 9, 34, 34;
        --sidebar-bg-rgb: 18, 19, 23;
        --sidebar-bg: #121317;
        --sidebar-header-bg-rgb: 27, 29, 34;
        --sidebar-header-bg: #1b1d22;
        --sidebar-header-text-color-rgb: 221, 223, 228;
        --sidebar-header-text-color: #dddfe4;
        --sidebar-teambar-bg-rgb: 0, 0, 0;
        --sidebar-teambar-bg: #000000;
        --sidebar-text-active-border-rgb: 21, 146, 224;
        --sidebar-text-active-border: #1592e0;
        --sidebar-text-active-color-rgb: 255, 255, 255;
        --sidebar-text-active-color: #ffffff;
        --sidebar-text-hover-bg-rgb: 37, 38, 42;
        --sidebar-text-hover-bg: #25262a;
        --sidebar-text-rgb: 255, 255, 255;
        --sidebar-text: #ffffff;
        --sidebar-unread-text-rgb: 255, 255, 255;
        --sidebar-unread-text: #ffffff;
        // --global-header-background: var(--sidebar-teambar-bg);
        // --global-header-background-rgb: var(--sidebar-teambar-bg-rgb);
        // --sidebar-teambar-bg: var(--sidebar-header-bg);
        // --sidebar-teambar-bg-rgb: var(--sidebar-header-bg-rgb);
        // --sidebar-header-bg: var(--sidebar-bg);
        // --sidebar-header-bg-rgb: var(--sidebar-bg-rgb);
        // --global-header-text: var(--sidebar-header-text-color);
        // --global-header-text-rgb: var(--sidebar-header-text-color-rgb);
        // --sidebar-header-text-color: var(--sidebar-text);
        // --sidebar-header-text-color-rgb: var(--sidebar-text-rgb);
    }
}
