doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Theme Exercise
        link(rel="stylesheet" type="text/css" href="css/theme-exploration.css")
    body(class=["theme-exercise", "enable-animations"])
        include ../components/_components
        include ./components/_icon-button-variations

        section.theme.theme-denim
            div.global-header
                div.container
                    +heading({text: "Global Header", size: "xlarge"})
                    +iconButtonVariations()
            div.team-sidebar
                div.container
                    +heading({text: "Team Sidebar", size: "xlarge"})
                    +iconButtonVariations()
            div.lhs
                div.container
                    +heading({text: "LHS", size: "xlarge"})
                    +iconButtonVariations()
            div.center-channel
                div.container
                    +heading({text: "Center Channel", size: "xlarge"})
                    +iconButtonVariations()
            div.rhs
                div.container
                    +heading({text: "RHS", size: "xlarge"})
                    +iconButtonVariations()
        section.theme.theme-sapphire
            div.global-header
                div.container
                    +heading({text: "Global Header", size: "xlarge"})
                    +iconButtonVariations()
            div.team-sidebar
                div.container
                    +heading({text: "Team Sidebar", size: "xlarge"})
                    +iconButtonVariations()
            div.lhs
                div.container
                    +heading({text: "LHS", size: "xlarge"})
                    +iconButtonVariations()
            div.center-channel
                div.container
                    +heading({text: "Center Channel", size: "xlarge"})
                    +iconButtonVariations()
            div.rhs
                div.container
                    +heading({text: "RHS", size: "xlarge"})
                    +iconButtonVariations()
        section.theme.theme-quartz
            div.global-header
                div.container
                    +heading({text: "Global Header", size: "xlarge"})
                    +iconButtonVariations()
            div.team-sidebar
                div.container
                    +heading({text: "Team Sidebar", size: "xlarge"})
                    +iconButtonVariations()
            div.lhs
                div.container
                    +heading({text: "LHS", size: "xlarge"})
                    +iconButtonVariations()
            div.center-channel
                div.container
                    +heading({text: "Center Channel", size: "xlarge"})
                    +iconButtonVariations()
            div.rhs
                div.container
                    +heading({text: "RHS", size: "xlarge"})
                    +iconButtonVariations()
        section.theme.theme-indigo
            div.global-header
                div.container
                    +heading({text: "Global Header", size: "xlarge"})
                    +iconButtonVariations()
            div.team-sidebar
                div.container
                    +heading({text: "Team Sidebar", size: "xlarge"})
                    +iconButtonVariations()
            div.lhs
                div.container
                    +heading({text: "LHS", size: "xlarge"})
                    +iconButtonVariations()
            div.center-channel
                div.container
                    +heading({text: "Center Channel", size: "xlarge"})
                    +iconButtonVariations()
            div.rhs
                div.container
                    +heading({text: "RHS", size: "xlarge"})
                    +iconButtonVariations()
        section.theme.theme-onyx
            div.global-header
                div.container
                    +heading({text: "Global Header", size: "xlarge"})
                    +iconButtonVariations()
            div.team-sidebar
                div.container
                    +heading({text: "Team Sidebar", size: "xlarge"})
                    +iconButtonVariations()
            div.lhs
                div.container
                    +heading({text: "LHS", size: "xlarge"})
                    +iconButtonVariations()
            div.center-channel
                div.container
                    +heading({text: "Center Channel", size: "xlarge"})
                    +iconButtonVariations()
            div.rhs
                div.container
                    +heading({text: "RHS", size: "xlarge"})
                    +iconButtonVariations()
                    
        script(src="./js/main-min.js" type="text/javascript")