.Panels {
    @include flex-row;
    @include flex-dynamic;
    @include size(100%, 100%);
    @include position(100%, 0px);

    overflow: hidden;

    &.open {
        transform: translateX(-100%);
    }

    > .Panel {
        @include position(100%, 0px);
    }

    // animation
    transition: transform var(--animation-length-short) 0s ease-in-out;

    @media screen and (max-width: $breakpoint-mobile-max) {
    }
    @media screen and (max-width: $breakpoint-tablet-max) {
    }
    @media screen and (max-width: $breakpoint-small-desktop-max) {
    }
    @media screen and (max-width: $breakpoint-medium-desktop-max) {
    }
    @media screen and (min-width: $breakpoint-large-desktop-min) {
    }
}

@import './panel';
@import './panel-main';
@import './panel-threads';
