doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Global Layout
        link(rel="stylesheet" type="text/css" href="https://yarnpkg.com/en/package/normalize.css")
        link(rel="stylesheet" type="text/css" href="./css/main.css")
    body.global-layout.enable-animations
        include ../components/_components

        div#root.theme-denim.Teams--open.AppsBar--open
            div#GlobalBanner.Toast
            div.AppContainer
                header#GlobalHeader
                    nav.LeftControlsContainer
                        +iconButton({
                            size: "compact",
                            iconGlyph: "icon-products",
                            inverted: true,
                        }, "ProductsButton")
                        +icon({
                            glyph: "icon-product-channels",
                            size: "large"
                        }, "desktop--visible")
                        +heading({text: "Channels", size: "large"}, "desktop--visible")
                    div.CenterControlsContainer
                    div.RightControlsContainer
                        +iconButton({
                            size: "compact",
                            iconGlyph: "icon-apps",
                            inverted: true
                        }, "RHSBackButton mobile--visible")
                section.ProductContainer
                    div.Sidebars.Sidebars__left
                        section#Teams.Sidebar.Sidebar__teams.open
                            +teamButton({active: true})
                            +teamButton()
                            +teamButton()
                        section#LHS.Sidebar.Sidebar__left
                    main#Main.Panels
                        section.Panel.Panel__first.Panel__channels
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-menu-variant",
                                    inverted: true,
                                }, "MobileMenu mobile--visible")
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-star-outline",
                                }, "desktop--visible")
                                +heading({text: "Centre Channel", size: "large"})
                            section
                        section.Panel.Panel__first.Panel__threads
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-menu-variant",
                                    inverted: true,
                                }, "MobileMenu mobile--visible")
                                +heading({text: "Global Threads", size: "large"})
                            section
                        section.Panel.Panel__thread
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                    inverted: true,
                                }, "MainBackButton mobile--visible")
                                +heading({text: "Thread", size: "large"})
                            section
                    aside#RHS.Panels.collapsable.stacked
                        section#Threads.Panel.Panel__thread
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                    inverted: true,
                                }, "RHSBackButton mobile--visible")
                                +heading({text: "RHS", size: "large"})
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-close",
                                }, "RHSBackButton desktop--visible")
                            section
                        section#UserProfile.Panel.Panel__userProfile
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                    inverted: true,
                                }, "RHSBackButton mobile--visible")
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                }, "RHSBackButton desktop--visible")
                                +heading({text: "User profile", size: "large"})
                            section
                        section#MessageUser.Panel.Panel__messageUser
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                    inverted: true,
                                }, "RHSBackButton mobile--visible")
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                }, "RHSBackButton desktop--visible")
                                +heading({text: "Message User", size: "large"})
                            section
                    div.Sidebars.Sidebars__right
                        section#AppsBar.Sidebar.Sidebar__apps.open
                            div.AppContainer
                            div.MenuContainer
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-view-grid-plus-outline",
                                }, "RHSBackButton desktop--visible")
        
        script(src="./js/main-min.js" type="text/javascript")