doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Global Layout
        link(rel="stylesheet" type="text/css" href="https://yarnpkg.com/en/package/normalize.css")
        link(rel="stylesheet" type="text/css" href="/build/css/global-layout/main.css")
    body.global-layout.enable-animations
        include ../components/_heading
        include ../components/_label
        include ../components/_icon
        include ../components/_icon-button

        div#root.Teams--open
            div#GlobalBanner.Toast
            div.AppContainer
                header#GlobalHeader
                    nav.LeftControlsContainer
                    div.CenterControlsContainer
                    div.RightControlsContainer
                section.ProductContainer
                    div.Sidebars.Sidebars__left
                        section#Teams.Sidebar.Sidebar__teams.open
                        section#LHS.Sidebar.Sidebar__left
                    main#Main.Panel.Panel__main
                        header
                            +iconButton({
                                size: "compact",
                                iconGlyph: "icon-menu-variant",
                                label: "Icon button",
                                inverted: true,
                            }, "MobileMenu")
                            +heading({text: "UX Design", size: "large"})
                        section
                    div#RHS.Panels
                        section#Threads.Panel.Panel__threads
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                    label: "Go back",
                                    inverted: true,
                                }, "RHSBackButton")
                                +heading({text: "Threads", size: "large"})
                            section
                        section#UserProfile.Panel.Panel__userProfile
                            header
                                +iconButton({
                                    size: "compact",
                                    iconGlyph: "icon-arrow-back-ios",
                                    label: "Go back",
                                    inverted: true,
                                }, "RHSBackButton")
                                +heading({text: "User profile", size: "large"})
                            section
                    div.Sidebars.Sidebars__right
                        section#AppsBar.Sidebar.Sidebar__apps
        
        script(src="/build/js/global-layout/main-min.js" type="text/javascript")